<!DOCTYPE html>
<html>
<body>

    <h3>Registrati o accedi </h3>

    <form action="/registrazione" method="get"> <!-- definisci il metodo "get" per far si che l'http comunichi con il backend -->
      <label for="fname">Nome:</label><br>
      <input type="text" id="nome" name="nome" value="nome"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" value="password"><br><br>
      <input type="submit" value="registrati">
    </form> 
</body>
</html>